tools/codegen/native/test/wsdl/complex_array_test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://test.apache.org/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://test.apache.org/">
  <types>
    <xsd:schema targetNamespace="http://test.apache.org/">
      <xsd:complexType name="PersonType">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="age" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PersonArrayType">
        <xsd:sequence>
          <xsd:element name="person" type="tns:PersonType" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="PersonArrayRequest" type="tns:PersonArrayType"/>
      <xsd:element name="PersonArrayResponse" type="tns:PersonArrayType"/>
    </xsd:schema>
  </types>
  <message name="PersonArrayMessage">
    <part name="body" element="tns:PersonArrayRequest"/>
  </message>
  <message name="PersonArrayResponseMessage">
    <part name="body" element="tns:PersonArrayResponse"/>
  </message>
  <portType name="PersonArrayPortType">
    <operation name="PersonArrayOperation">
      <input message="tns:PersonArrayMessage"/>
      <output message="tns:PersonArrayResponseMessage"/>
    </operation>
  </portType>
  <binding name="PersonArrayBinding" type="tns:PersonArrayPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="PersonArrayOperation">
      <soap:operation soapAction="urn:PersonArrayOperation"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>
  <service name="PersonArrayService">
    <port name="PersonArrayPort" binding="tns:PersonArrayBinding">
      <soap:address location="http://localhost:8080/axis2/services/PersonArrayService"/>
    </port>
  </service>
</definitions>
