xml_schema/test-resources/SimpleContentRestriction.xsd

<schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://soapinterop.org/types"
        targetNamespace="http://soapinterop.org/types">

    <simpleType name="layoutComponentType">
        <restriction base="xsd:string">
            <enumeration value="Field"/>
            <enumeration value="Separator"/>
        </restriction>
    </simpleType>
    <simpleType name="layoutComponentTypeName">
        <restriction base="xsd:string"/>
    </simpleType>

    <element name="foo" type="tns:layoutComponentType"/>
    <element name="bar" type="tns:layoutComponentTypeName"/>
    
</schema>
