test/resources/wsdl/AXIS2C-1421-TypelessElementTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 * AXIS2C-1421: Test WSDL for typeless element handling
 * Elements without type attribute should be treated as anyType
 * and provide access to all child nodes, not just the first.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://test.axis2c.org/typeless"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="TypelessElementTest"
                  targetNamespace="http://test.axis2c.org/typeless">

  <wsdl:types>
    <xsd:schema targetNamespace="http://test.axis2c.org/typeless">
      <!-- AXIS2C-1421: SetSymbol request with typeless pData element -->
      <xsd:element name="SetSymbol">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="pName" type="xsd:string"/>
            <!-- Typeless element - no type attribute -->
            <!-- This should be treated as anyType and allow arrays of any elements -->
            <xsd:element minOccurs="0" maxOccurs="1" name="pData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="SetSymbolResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="result" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- GetSymbol with both typed and typeless elements -->
      <xsd:element name="GetSymbol">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="symbolName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetSymbolResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="symbolName" type="xsd:string"/>
            <!-- Another typeless element for the return value -->
            <xsd:element minOccurs="0" maxOccurs="1" name="symbolValue"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ComplexType with mixed typed and typeless elements -->
      <xsd:complexType name="MixedDataType">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <!-- Typeless element for flexible data -->
          <xsd:element name="data"/>
          <xsd:element name="timestamp" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="SetSymbolRequest">
    <wsdl:part name="parameters" element="tns:SetSymbol"/>
  </wsdl:message>
  <wsdl:message name="SetSymbolResponse">
    <wsdl:part name="parameters" element="tns:SetSymbolResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSymbolRequest">
    <wsdl:part name="parameters" element="tns:GetSymbol"/>
  </wsdl:message>
  <wsdl:message name="GetSymbolResponse">
    <wsdl:part name="parameters" element="tns:GetSymbolResponse"/>
  </wsdl:message>

  <wsdl:portType name="TypelessElementPortType">
    <wsdl:operation name="SetSymbol">
      <wsdl:input message="tns:SetSymbolRequest"/>
      <wsdl:output message="tns:SetSymbolResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetSymbol">
      <wsdl:input message="tns:GetSymbolRequest"/>
      <wsdl:output message="tns:GetSymbolResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="TypelessElementBinding" type="tns:TypelessElementPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SetSymbol">
      <soap:operation soapAction="http://test.axis2c.org/typeless/SetSymbol"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSymbol">
      <soap:operation soapAction="http://test.axis2c.org/typeless/GetSymbol"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="TypelessElementService">
    <wsdl:port name="TypelessElementPort" binding="tns:TypelessElementBinding">
      <soap:address location="http://localhost:9090/axis2/services/TypelessElementService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
